@charset "utf-8";

/* basic-N3 */
.basic-N3 {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    transition: 0.3s;
    background: var(--white)
}

.basic-N3.header-menuactive .header-gnblist {
    position: absolute;
    top: calc(100% + 12rem);
    left: 50%;
    transform: translateX(-50%)
}

.basic-N3.header-menuactive .header-utils .header-btn {
    display: none
}

.basic-N3.header-menuactive .header-utils .btn-close {
    display: block
}

.basic-N3 .header-container {
    display: flex;
    justify-content: space-between;
    min-height: 8rem
}

.basic-N3 .header-title a {
    height: 3.3rem
}

.basic-N3 .header-title img {
    height: 100%;
    object-fit: contain
}

.basic-N3 .header-left {
    display: flex;
    align-items: center;
    gap: 8.5rem
}

.basic-N3 .header-mobile-top {
    display: none
}

.basic-N3 .header-gnblist {
    display: flex;
    align-items: center
}

.basic-N3 .header-gnbitem {
    position: relative
}

.basic-N3 .header-gnbitem:hover .header-gnblink span::after,
.basic-N3 .header-gnbitem.item-active .header-gnblink span::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--primary);
    transform: scaleX(1)
}

.basic-N3 .header-gnbitem:hover .header-sublist {
    min-height: auto;
    opacity: 1;
    overflow: hidden;
    pointer-events: auto
}

.basic-N3 .header-gnbitem+.header-gnbitem .header-gnblink {
    padding-left: 3rem
}

.basic-N3 .header-gnbitem:last-child .header-gnblink {
    padding-right: 0
}

.basic-N3 .header-gnblink {
    padding: 2.8rem 3rem 2.8rem 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap
}

.basic-N3 .header-gnblink span {
    position: relative
}

.basic-N3 .header-gnblink span::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    transition: 0.3s;
    transform: scaleX(0)
}

.basic-N3 .header-sublist {
    min-height: 0;
    position: absolute;
    top: 100%;
    transition: opacity 0.3s;
    opacity: 0;
    overflow: hidden;
    pointer-events: none
}

.basic-N3 .header-subitem {
    width: 14rem;
    background: var(--white);
    overflow: hidden
}

.basic-N3 .header-sublink {
    width: 100%;
    padding: 1rem 2rem;
    transition: color 0.2s, background 0.2s;
    will-change: color, background
}

.basic-N3 .header-sublink:hover {
    background: #111111;
    color: var(--white)
}

.basic-N3 .header-right {
    display: flex;
    align-items: center
}

.basic-N3 .header-utils>ul {
    display: flex;
    align-items: center
}

.basic-N3 .header-utils>ul>li {
    position: relative;
    margin-left: 1.2rem
}

.basic-N3 .header-utils>ul>li>img {
    width: auto;
    height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N3 .header-right button {
    max-width: 3.2rem;
    background: none;
    border: none
}

.basic-N3 .header-right button img {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N3 .header-utils .member a,
.basic-N3 .header-utils .cart a {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 0;
    display: block
}

.basic-N3 .header-utils .member img,
.basic-N3 .header-utils .cart img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N3 .header-utils .cart .badge {
    right: -0.4rem;
    bottom: -0.4rem;
    text-align: center;
    color: var(--white)
}

.basic-N3 .header-utils .btn-allmenu {
    display: flex;
    flex-direction: column;
    gap: 0.6rem
}

.basic-N3 .header-utils .btn-allmenu:hover .ico-hamburger:nth-child(2) {
    width: 2.4rem
}

.basic-N3 .header-utils .btn-allmenu .ico-hamburger,
.basic-N3 .btn-momenu .ico-hamburger {
    width: 2.4rem;
    height: 0.2rem;
    background-color: #111;
    border-radius: 1rem;
    transition: width 0.3s, transform 0.3s, opacity 0.3s;
    will-change: width, transform, opacity
}

.basic-N3 .header-utils .btn-allmenu .ico-hamburger:nth-child(even),
.basic-N3 .btn-momenu .ico-hamburger:nth-child(2) {
    width: 1.4rem
}

.basic-N3 .btn-momenu {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    margin-left: 0.6rem
}

.basic-N3 .btn-momenu .ico-hamburger {
    width: 2rem
}

.basic-N3 .btn-momenu .ico-hamburger:nth-child(2) {
    width: 1.2rem
}

.basic-N3 .btn-moclose {
    display: none
}

.basic-N3 .header-fullmenu {
    position: fixed;
    z-index: 99999;
    padding: 0 2.4rem;
    background-color: #000;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden
}

.basic-N3 .header-fullmenu.fullmenu-right {
    width: 0;
    height: 100%;
    top: 0;
    right: 0
}

.basic-N3 .header-fullmenu.fullmenu-left {
    width: 0;
    height: 100%;
    top: 0;
    left: 0
}

.basic-N3 .header-fullmenu.fullmenu-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 0
}

.basic-N3 .header-fullmenu.fullmenu-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0
}

.basic-N3 .header-fullmenu.fullmenu-active {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible
}

.basic-N3 .fullmenu-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 128rem;
    margin: 0 auto
}

.basic-N3 .fullmenu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem
}

.basic-N3 .fullmenu-title {
    margin-bottom: 0
}

.basic-N3 .fullmenu-title a {
    width: 13.6rem;
    height: 4.3rem
}

.basic-N3 .fullmenu-title img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.basic-N3 .fullmenu-member {
    display: flex
}

.basic-N3 .fullmenu-member li {
    position: relative
}

.basic-N3 .fullmenu-member li a {
    padding: 1.2rem;
    color: var(--white)
}

.basic-N3 .fullmenu-member li+li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 1.4rem;
    background-color: rgba(var(--white-rgb), 0.2)
}

.basic-N3 .fullmenu-gnblist {
    display: flex;
    justify-content: center
}

.basic-N3 .fullmenu-gnbitem {
    width: 20%
}

.basic-N3 .fullmenu-gnbitem+.fullmenu-gnbitem {
    margin-left: 4rem
}

.basic-N3 .fullmenu-gnblink {
    position: relative;
    width: 100%;
    padding-bottom: 4rem;
    color: var(--white);
    border-bottom: 1px solid rgba(var(--white-rgb), 0.2)
}

.basic-N3 .fullmenu-gnblink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--white);
    transition: 0.2s
}

.basic-N3 .fullmenu-gnblink.on::after {
    width: 18rem
}

.basic-N3 .fullmenu-sublist {
    padding-top: 4rem
}

.basic-N3 .fullmenu-subitem+.fullmenu-subitem {
    padding-top: 0.8rem
}

.basic-N3 .fullmenu-sublink {
    position: relative;
    color: #a2a2a2
}

.basic-N3 .fullmenu-sublink::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.basic-N3 .fullmenu-sublink:hover {
    color: var(--white)
}

.basic-N3 .fullmenu-sublink:hover::before {
    width: 100%;
    right: auto;
    left: 0
}

.basic-N3 .fullmenu-close {
    position: fixed;
    right: 8rem;
    top: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none
}

.basic-N3 .fullmenu-close img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media (max-width: 992px) {
    .basic-N3.block-active .header-gnb {
        top: 6rem;
        height: calc(100vh - 6rem);
        padding-bottom: 19rem;
        overflow-y: auto
    }

    .basic-N3.block-active .header-gnblist {
        opacity: 1;
        visibility: visible
    }

    .basic-N3 .header-gnbitem:has(.header-subitem) .header-gnblink::after {
        content: "";
        display: flex;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(../icons/ico_downarrow_black.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        transition: transform 0.3s;
        will-change: transform
    }

    .basic-N3.block-active .header-gnblink {
        align-items: center;
        justify-content: space-between
    }

    .basic-N3.block-active .header-gnbitem.item-active .header-gnblink::after {
        content: "";
        transform: rotate(180deg)
    }

    .basic-N3.block-active .btn-momenu .ico-hamburger:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg)
    }

    .basic-N3.block-active .btn-momenu .ico-hamburger:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg)
    }

    .basic-N3.block-active .btn-momenu .ico-hamburger:nth-child(2) {
        opacity: 0;
        visibility: hidden
    }

    .basic-N3 .header-fullmenu {
        display: none
    }

    .basic-N3 .header-container {
        align-items: center;
        min-height: 6rem;
        padding: 0 1.6rem
    }

    .basic-N3 .header-left {
        gap: 0
    }

    .basic-N3 .header-title a {
        width: 12rem;
        height: 2.6rem
    }

    .basic-N3 .header-gnb {
        width: 100%;
        height: 0;
        position: fixed;
        top: 100%;
        left: 0;
        background-color: var(--white);
        overflow: hidden;
        transition: height 0.3s;
        z-index: 999
    }

    .basic-N3 .header-gnblist {
        flex-direction: column;
        align-items: flex-start;
        width: 100%
    }

    .basic-N3 .header-gnbitem {
        width: 100%
    }

    .basic-N3 .header-gnbitem:hover,
    .basic-N3 .header-gnbitem.item-active {
        background-color: #f7f7fb
    }

    .basic-N3 .header-gnbitem:hover .header-gnblink span::after,
    .basic-N3 .header-gnbitem.item-active .header-gnblink span::after {
        content: none
    }

    .basic-N3 .header-gnblink {
        display: flex;
        width: 100%;
        padding: 1.4rem 2rem;
        font-weight: 500;
        text-align: left
    }

    .basic-N3 .header-sublist {
        display: none;
        position: relative;
        opacity: 1;
        padding: 1.8rem 2rem 2rem 2rem;
        background-color: var(--white)
    }

    .basic-N3 .header-subitem {
        width: 100%
    }

    .basic-N3 .header-subitem+.header-subitem {
        padding-top: 0.8rem
    }

    .basic-N3 .header-sublink {
        padding: 0;
        color: var(--text-color3)
    }

    .basic-N3 .header-sublink:active {
        color: #111111
    }

    .basic-N3 .header-sublink:hover {
        background: var(--white);
        color: #111111
    }

    .basic-N3 .header-btn {
        width: 2.8rem;
        height: 2.8rem
    }

    .basic-N3 .header-utils .btn-allmenu,
    .basic-N3 .header-utils .btn-user {
        display: none
    }

    .basic-N3 .btn-momenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        margin-left: 0.6rem
    }
}
/* basic-N45 */
.basic-N45 {
    position: relative;
    overflow: hidden
}

.basic-N45 .contents-container {
    display: block;
    position: relative;
    height: 70rem
}

.basic-N45 .contents-inner {
    width: 100%;
    height: 100%
}

.basic-N45 .contents-visual {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    overflow: hidden
}

.basic-N45 .contents-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.basic-N45 .contents-body {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 16rem);
    z-index: 1
}

.basic-N45 .textset {
    text-align: center;

}

.basic-N45 .textset .textset-tit {
    color: var(--white)
}

@media (max-width: 1200px) {
    .basic-N45 .contents-body {
        width: calc(100% - 8rem)
    }
}

@media (max-width: 992px) {
    .basic-N45 .contents-container {
        height: 62rem
    }
}
/* basic-N46 */
.basic-N46 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N46 .textset {
    margin-bottom: 4rem;
    text-align: center
}

.basic-N46 .textset .textset-tit+.textset-desc {
    margin-top: 2rem
}

.basic-N46 .textset .textset-desc {
    color: var(--text-color3)
}

.basic-N46 .contents-group {
    display: flex
}

.basic-N46 .cardset {
    width: calc(100% / 4);
    padding: 0 4rem
}

.basic-N46 .cardset+.cardset {
    border-left: 1px solid var(--border-color)
}

.basic-N46 .cardset .cardset-figure {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden
}

.basic-N46 .cardset .cardset-figure+.cardset-body {
    margin-top: 2rem;
    text-align: center
}

.basic-N46 .cardset .cardset-body {
    padding: 0
}

.basic-N46 .cardset .cardset-desc {
    display: block;
    margin-top: 2rem;
    letter-spacing: -0.05rem
}

@media (max-width: 992px) {
    .basic-N46 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N46 .textset {
        margin-bottom: 2rem
    }

    .basic-N46 .contents-group {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding: 0 6.4rem
    }

    .basic-N46 .cardset {
        width: 100%;
        padding: 2rem 0
    }

    .basic-N46 .cardset+.cardset {
        margin-top: 0;
        border-left: 0;
        border-top: 1px solid var(--border-color)
    }
}

@media (max-width: 358px) {
    .basic-N46 .contents-group {
        padding: 0
    }
}
/* basic-N6 */
.basic-N6 {
    position: relative;
    padding-top: 0rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N6 .textset {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0
}

.basic-N6 .textset-desc {
    color: var(--text-color3)
}

@media (max-width: 992px) {
    .basic-N6 {
        padding-bottom: 5rem
    }

    .basic-N6 .textset .textset-tit+.textset-desc {
        margin-top: 2rem
    }

    .basic-N6 .textset-desc {
        word-break: keep-all
    }

    .basic-N6 .textset-desc br {
        display: none
    }
}
/* basic-N47 */
.basic-N47 {
    position: relative;
    padding-top: 0rem;
    padding-bottom: 0rem;
    overflow: hidden
}

.basic-N47 .cardset {
    justify-content: space-between;
    align-items: center
}

.basic-N47 .cardset.cardset-hor-reverse {
    flex-direction: row-reverse
}

.basic-N47 .cardset .cardset-figure {
    width: calc(50% + 17rem);
    margin-top: 0;
    margin-right: -23rem;
    height: 52rem;
    border-radius: 2rem;
    overflow: hidden
}

.basic-N47 .cardset+.cardset .cardset-figure {
    margin-right: 0;
    margin-left: -23rem
}

.basic-N47 .cardset .cardset-body {
    width: calc(50% - 10rem);
    padding: 0
}

.basic-N47 .cardset .cardset-desc {
    display: block;
    letter-spacing: -0.1rem;
    word-break: keep-all;
    color: var(--text-color3)
}

@media (max-width: 992px) {
    .basic-N47 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N47 .cardset .cardset-figure {
        width: 100%;
        height: 50rem;
        margin-right: 0
    }

    .basic-N47 .cardset+.cardset {
        margin-top: 4rem
    }

    .basic-N47 .cardset+.cardset .cardset-figure {
        margin-left: 0
    }

    .basic-N47 .cardset .cardset-body {
        width: 100%;
        margin-top: 4rem
    }
}

@media (max-width: 576px) {
    .basic-N47 .cardset .cardset-desc br {
        display: none
    }
}
/* basic-N48 */
.basic-N48 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N48 .contents-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 50rem;
    border-radius: 2rem;
    overflow: hidden
}

.basic-N48 .imageset {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.basic-N48 .textset {
    width: 100%;
    padding: 0 8rem;
    text-align: center
}

.basic-N48 .textset .textset-tit {
    color: var(--white);
    word-break: keep-all
}

@media (max-width: 1200px) {
    .basic-N48 .textset {
        padding: 0 4rem
    }
}

@media (max-width: 992px) {
    .basic-N48 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N48 .textset {
        padding: 0 1.6rem;
        text-align: center
    }
}
/* basic-N49 */
.basic-N49 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N49 .textset {
    margin-bottom: 4rem
}

.basic-N49 .cardset {
    position: relative
}

.basic-N49 .cardset .cardset-figure {
    height: 50rem
}

.basic-N49 .cardset .cardset-figure+.cardset-body {
    margin-top: 0
}

.basic-N49 .cardset .cardset-body {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 3.2rem;
    background-color: transparent
}

.basic-N49 .cardset .cardset-tit {
    color: var(--white);

}

.basic-N49 .cardset .cardset-tit+.cardset-desc {
    margin-top: 1.6rem
}

.basic-N49 .cardset .cardset-desc {
    color: var(--border-color)
}

@media (max-width: 992px) {
    .basic-N49 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N49 .cardset .cardset-figure+.cardset-body {
        padding: 3.2rem
    }
}

@media (max-width: 375px) {
    .basic-N49 .cardset .cardset-desc br {
        display: none
    }
}
/* basic-N4 */
.basic-N4 {
    position: relative;
    background: #111;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    overflow: hidden
}

.basic-N4 .footer-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1.6rem
}

.basic-N4 .footer-logo {
    text-align: center;
    margin-bottom: 0
}

.basic-N4 .footer-logo img {
    height: 3.3rem;
    object-fit: contain
}

.basic-N4 .footer-menulist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fs-p2)
}

.basic-N4 .footer-menulink a {
    padding-right: 1.2rem;
    color: var(--white)
}

.basic-N4 .footer-menulink+.footer-menulink a {
    padding-left: 1.2rem
}

.basic-N4 .footer-menulink {
    position: relative
}

.basic-N4 .footer-menulink+.footer-menulink::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 1.4rem;
    background: rgba(var(--white-rgb), 0.1)
}

.basic-N4 .footer-snslist {
    display: flex;
    align-items: center
}

.basic-N4 .footer-snsitem+.footer-snsitem {
    margin-left: 0.8rem
}

.basic-N4 .footer-snslink {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.6rem
}

.basic-N4 .footer-snslink img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N4 .footer-bottom {
    padding-top: 2.4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.basic-N4 .footer-txt {
    display: flex;
    justify-content: center
}

.basic-N4 .footer-txt+.footer-txt {
    margin-top: 0.3rem
}

.basic-N4 .footer-txt p,
.basic-N4 .footer-txt span {
    margin-bottom: 0;
    color: var(--text-color3)
}

.basic-N4 .footer-txt p+p {
    margin-left: 0.8rem
}

.basic-N4 .footer-txt p span+span {
    margin-left: 0.8rem
}

.basic-N4 .info-area {
    overflow-y: auto
}

.basic-N4 .info-group+.info-group {
    margin-top: 2.4rem
}

.basic-N4 .info-group strong {
    padding-bottom: 1.2rem;
    display: block
}

.basic-N4 .info-desc {
    max-height: 20.7rem;
    padding: 1.6rem;
    background: #f8f8fa;
    border-radius: 1.6rem;
    overflow-y: auto;
    scrollbar-width: none
}

.basic-N4 .info-desc p.fw-medium {
    font-weight: var(--fw-medium)
}

.basic-N4 .info-desc .mtb {
    margin: 2.4rem 0
}

.basic-N4 .info-desc em {
    font-style: normal;
    font-weight: 600;
    margin: 2.4rem 0 1rem;
    position: relative;
    display: flex;
    align-items: center
}

.basic-N4 .info-list em::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background: var(--black);
    border-radius: 50%;
    margin-right: 0.8rem
}

.basic-N4 .info-list p {
    padding-left: 1.2rem
}

@media (max-width: 992px) {
    .basic-N4 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .basic-N4 .footer-top {
        margin-bottom: 0;
        flex-direction: column;
        align-items: flex-start
    }

    .basic-N4 .footer-logo a {
        height: 2.6rem
    }

    .basic-N4 .footer-menulist {
        justify-content: flex-start;
        position: relative;
        left: 0;
        transform: translate(0);
        margin-top: 1.3rem
    }

    .basic-N4 .footer-menulink a {
        padding-right: 0.8rem
    }

    .basic-N4 .footer-menulink+.footer-menulink a {
        padding-left: 0.8rem
    }

    .basic-N4 .footer-snslist {
        margin: 2.4rem 0 1.6rem 0;
        justify-content: center
    }

    .basic-N4 .footer-bottom {
        text-align: left
    }

    .basic-N4 .footer-txt {
        flex-direction: column
    }

    .basic-N4 .footer-txt p+p {
        margin-left: 0
    }

    .basic-N4 .footer-txt+.footer-txt {
        margin-top: 0.6rem
    }
}

@media (max-width: 375px) {
    .basic-N4 .footer-menulist {
        justify-content: flex-start;
        overflow-x: auto
    }

    .basic-N4 .footer-menulink {
        flex-shrink: 0
    }
}
/* basic-N1 */
.basic-N1 {
    position: sticky;
    top: 0;
    min-height: auto;
    width: 100%;
    z-index: 200;
    background-color: var(--white)
}

.basic-N1 .header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 8rem;
    z-index: 200
}

.basic-N1 .header-title {
    margin-bottom: 0
}

.basic-N1 .header-title a {
    height: 3.3rem
}

.basic-N1 .header-title img {
    height: 100%;
    object-fit: contain
}

.basic-N1 .header-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%
}

.basic-N1 .header-gnblist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.basic-N1 .header-gnblink {
    padding: 2.8rem 3rem;
    text-align: center;
    white-space: nowrap
}

.basic-N1 .header-gnblink span {
    position: relative
}

.basic-N1 .header-gnblink span::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    transition: 0.3s;
    transform: scaleX(0)
}

.basic-N1 .header-sublist {
    min-height: 0;
    position: absolute;
    top: 100%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none
}

.basic-N1 .header-gnbitem:hover .header-sublist {
    min-height: auto;
    opacity: 1;
    overflow: hidden;
    pointer-events: auto
}

.basic-N1 .header-gnbitem:hover .header-gnblink span::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #111111;
    transform: scaleX(1)
}

.basic-N1 .header-subitem {
    width: 14rem;
    background-color: var(--white);
    overflow: hidden
}

.basic-N1 .header-sublink {
    width: 100%;
    padding: 1rem 2rem
}

.basic-N1 .header-sublink:hover {
    background-color: #111111;
    color: var(--white)
}

.basic-N1 .header-right {
    display: flex;
    align-items: center
}

.basic-N1 .header-right button {
    max-width: 3.2rem;
    background: none;
    border: none
}

.basic-N1 .header-right button img {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top
}

.basic-N1 .header-utils>ul {
    display: flex;
    align-items: center
}

.basic-N1 .header-utils>ul>li {
    margin-left: 1.2rem
}

.basic-N1 .header-utils>ul>li>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: top
}

.basic-N1 .header-utils {
    display: flex;
    align-items: center
}

.basic-N1 .header-utils .btn-allmenu {
    display: flex;
    flex-direction: column;
    gap: 0.6rem
}

.basic-N1 .header-utils .btn-allmenu:hover .ico-hamburger:nth-child(2) {
    width: 2.4rem
}

.basic-N1 .header-utils .btn-allmenu .ico-hamburger,
.basic-N1 .btn-momenu .ico-hamburger {
    width: 2.4rem;
    height: 0.2rem;
    background-color: var(--black);
    border-radius: 1rem;
    transition: width 0.3s, transform 0.3s, opacity 0.3s;
    will-change: width, transform, opacity
}

.basic-N1 .header-utils .btn-allmenu .ico-hamburger:nth-child(even),
.basic-N1 .btn-momenu .ico-hamburger:nth-child(2) {
    width: 1.4rem
}

.basic-N1 .btn-momenu {
    display: none
}

.basic-N1 .btn-moclose {
    display: none
}

.basic-N1 .header-fullmenu {
    position: fixed;
    z-index: 99999;
    padding: 0 2.4rem;
    background-color: var(--black);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden
}

.basic-N1 .header-fullmenu.fullmenu-right {
    width: 0;
    height: 100%;
    top: 0;
    right: 0
}

.basic-N1 .header-fullmenu.fullmenu-left {
    width: 0;
    height: 100%;
    top: 0;
    left: 0
}

.basic-N1 .header-fullmenu.fullmenu-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 0
}

.basic-N1 .header-fullmenu.fullmenu-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0
}

.basic-N1 .header-fullmenu.fullmenu-active {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible
}

.basic-N1 .fullmenu-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 128rem;
    margin: 0 auto
}

.basic-N1 .fullmenu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem
}

.basic-N1 .fullmenu-title {
    margin-bottom: 0
}

.basic-N1 .fullmenu-title-link {
    width: 13.6rem;
    height: 4.3rem
}

.basic-N1 .fullmenu-title img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.basic-N1 .fullmenu-gnblist {
    display: flex;
    justify-content: center
}

.basic-N1 .fullmenu-gnbitem {
    width: 20%
}

.basic-N1 .fullmenu-gnbitem+.fullmenu-gnbitem {
    margin-left: 4rem
}

.basic-N1 .fullmenu-gnblink {
    position: relative;
    width: 100%;
    padding-bottom: 4rem;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.basic-N1 .fullmenu-gnblink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: var(--white) ff;
    transition: 0.2s
}

.basic-N1 .fullmenu-gnblink.on::after {
    width: 18rem
}

.basic-N1 .fullmenu-sublist {
    padding-top: 4rem
}

.basic-N1 .fullmenu-subitem+.fullmenu-subitem {
    padding-top: 0.8rem
}

.basic-N1 .fullmenu-sublink {
    color: #a2a2a2;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s
}

.basic-N1 .fullmenu-sublink::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.basic-N1 .fullmenu-sublink:hover {
    color: var(--white)
}

.basic-N1 .fullmenu-sublink:hover::before {
    width: 100%;
    right: auto;
    left: 0
}

.basic-N1 .fullmenu-close {
    position: fixed;
    right: 8rem;
    top: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
    border: none
}

.basic-N1 .fullmenu-close img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media (max-width: 992px) {
    .basic-N1 .header-container {
        min-height: 6rem
    }

    .basic-N1 .header-title a {
        width: 12rem
    }

    .basic-N1 .header-title-link {
        height: 2.6rem
    }

    .basic-N1 .header-center {
        width: 100%;
        height: 0;
        top: 100%;
        left: 0;
        transform: none
    }

    .basic-N1 .header-gnb {
        width: 100%;
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        overflow: hidden;
        padding: 0 2.4rem;
        transition: height 0.3s;
        z-index: 9
    }

    .basic-N1 .header-gnblist {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s 0.1s
    }

    .basic-N1 .header-gnbitem:hover .header-gnblink span {
        border: none
    }

    .basic-N1 .header-gnbitem:hover .header-gnblink span::after {
        content: none
    }

    .basic-N1 .header-gnblink {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding: 2rem 0;
        text-align: left
    }

    .basic-N1 .header-sublist {
        display: none;
        position: relative;
        opacity: 1;
        padding: 2rem 0 4rem 0
    }

    .basic-N1 .header-gnbitem.item-active .header-gnblink {
        border-bottom: 1px solid #111111
    }

    .basic-N1 .header-subitem {
        width: 100%
    }

    .basic-N1 .header-subitem+.header-subitem {
        padding-top: 0.8rem
    }

    .basic-N1 .header-sublink {
        padding: 0;
        color: var(--text-color3)
    }

    .basic-N1 .header-sublink:active {
        color: #111111
    }

    .basic-N1 .header-sublink:hover {
        background-color: var(--white);
        color: #111111
    }

    .basic-N1 .header-right button,
    .basic-N1 .header-utils .member a {
        width: 2.8rem;
        height: 2.8rem
    }

    .basic-N1 .header-utils>ul>li {
        margin-left: 0.6rem
    }

    .basic-N1 .header-utils .utils-btn {
        width: 2.8rem;
        height: 2.8rem
    }

    .basic-N1 .header-utils .btn-allmenu {
        display: none
    }

    .basic-N1 .btn-momenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        margin-left: 0.6rem
    }

    .basic-N1 .btn-momenu .ico-hamburger {
        width: 2rem
    }

    .basic-N1 .btn-momenu .ico-hamburger:nth-child(2) {
        width: 1.2rem
    }

    .basic-N1.block-active .header-center {
        pointer-events: auto
    }

    .basic-N1.block-active .header-title {
        height: 6rem;
        display: flex;
        align-items: center
    }

    .basic-N1.block-active .header-gnb {
        height: calc(100vh - 6rem);
        padding-bottom: 19rem;
        overflow-y: auto
    }

    .basic-N1.block-active .header-gnblist {
        opacity: 1;
        visibility: visible
    }

    .basic-N1 .header-gnbitem:has(.header-subitem) .header-gnblink::after {
        content: "";
        display: flex;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(../icons/ico_downarrow_black.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        transition: transform 0.3s;
        will-change: transform
    }

    .basic-N1.block-active .header-gnblink {
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5
    }

    .basic-N1.block-active .header-gnbitem.item-active .header-gnblink::after {
        content: "";
        transform: rotate(180deg)
    }

    .basic-N1.block-active .btn-momenu .ico-hamburger {
        width: 2.8rem
    }

    .basic-N1.block-active .btn-momenu .ico-hamburger:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg)
    }

    .basic-N1.block-active .btn-momenu .ico-hamburger:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg)
    }

    .basic-N1.block-active .btn-momenu .ico-hamburger:nth-child(2) {
        opacity: 0;
        visibility: hidden
    }

    .basic-N1 .header-fullmenu {
        display: none
    }
}
/* basic-N10 */
.basic-N10 {
    position: relative
}

.basic-N10 .contents-container {
    position: relative
}

.basic-N10 .contents-inner {
    width: calc(100% + 16rem);
    height: 62rem;
    margin-left: -8rem
}

.basic-N10 .contents-visual,
.basic-N10 .contents-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.basic-N10 .contents-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    padding: 0 8rem
}

.basic-N10 .textset {
    margin-bottom: 0
}

.basic-N10 .textset .textset-tit {
    color: var(--white);
    text-align: center
}

@media (max-width: 1200px) {
    .basic-N10 .contents-inner {
        width: calc(100% + 8rem);
        margin-left: -4rem
    }

    .basic-N10 .contents-body {
        padding: 0 4rem
    }
}

@media (max-width: 992px) {
    .basic-N10 .contents-inner {
        width: calc(100% + 3.2rem);
        height: 60rem;
        margin-left: -1.6rem
    }

    .basic-N10 .contents-body {
        padding: 0 1.6rem
    }
}
/* . */
.basic-N55 {
    border-bottom: 1px solid var(--border-color)
}
/* basic-N23 */
.basic-N23 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N23 .textset {
    margin-bottom: 4rem
}

.basic-N23 .textset .textset-tit+.textset-desc {
    margin-top: 2rem
}

.basic-N23 .textset .textset-desc {
    color: var(--text-color3)
}

.basic-N23 .imageset {
    height: 46rem;
    border-radius: 2rem;
    overflow: hidden
}

.basic-N23 .contents-list {
    margin-top: 4rem
}

.basic-N23 .contents-item+.contents-item {
    padding-left: 10rem
}

.basic-N23 .contents-item strong {
    display: inline-block;
    margin-bottom: 1.2rem
}

.basic-N23 .contents-item p {
    color: var(--text-color3)
}

.basic-N23 .contents-item p+p {
    margin-top: 0.4rem
}

@media (max-width: 992px) {
    .basic-N23 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N23 .contents-list {
        margin-top: 2rem
    }

    .basic-N23 .contents-item {
        width: 100%
    }

    .basic-N23 .contents-item+.contents-item {
        width: 100%;
        margin-top: 4rem;
        padding-left: 0
    }
}
/* basic-N24 */
.basic-N24 {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden
}

.basic-N24 .contents-inner {
    width: 100%;
    padding: 10rem 4rem;
    border-radius: 2rem;
    background: #f7f7fb
}

.basic-N24 .textset {
    margin-bottom: 4rem;
    text-align: center
}

.basic-N24 .form-box {
    max-width: 96rem;
    margin: 0 auto
}

.basic-N24 .form-box+.form-box {
    margin-top: 2.4rem
}

.basic-N24 .inputset .inputset-input,
.basic-N24 .inputset .inputset-textarea {
    border-radius: 0.6rem
}

.basic-N24 .form-tit {
    margin-bottom: 1.2rem
}

.basic-N24 .form-btn {
    margin-top: 4rem;
    text-align: center
}

.basic-N24 .form-btn .btnset {
    min-width: 18rem;
    padding: 0 2rem
}

@media (max-width: 992px) {
    .basic-N24 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .basic-N24 .contents-inner {
        padding: 8rem 2.4rem
    }

    .basic-N24 .form-btn .btnset {
        min-width: 16rem;
        padding: 0 1.6rem
    }
}